#portfolio{
padding-top: 2em;
display: flex;
flex-direction: column;


    .section-header{
        background-color: $fondo-claro;
    }
   
    h2{
        font-size: 28px;
        text-align: center;
        padding-top: 1em;
    }

    p{
        font-size: 16px;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .fotos{
        justify-content:space-around;
        align-items: stretch;
        flex-direction: column;
        display: flex;

   .fotos1{
    flex-basis: 50%;
    display: flex;
      img{   
        padding: 0.2em;
        width:50%;
      
      }  
    }

    .fotos2{
        display: flex;
        flex-basis: 50%;
        img{
            padding: 0.2em;
            width:50%;
          }  
        }

    }
}
   
