

$bolsos: rgba(197, 37, 104, 0.829);
$gafas: rgb(12, 95, 95);
$moda:rgb(192, 89, 21);
$peinados: rgba(197, 37, 104, 0.829);
$contenido: rgb(45, 149, 188);
$fondo: rgb(10, 25, 48);
$aside: rgb(255, 254, 255);
$elemento: rgb(19, 44, 80);
