#ayuda {
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 200px;
}
#ayuda h1 {
  color: black;
  font-size: 40px;
}
#ayuda p {
  color: rgb(211, 211, 12);
  font-size: 24px;
}

#banner {
  background-image: linear-gradient(rgba(40, 40, 40, 0.8) 0%, rgba(40, 40, 40, 0.8) 100%), url("../img/banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  display: flex;
}
#banner .identidad-corporativa-big {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
}
#banner .identidad-corporativa-big .logo {
  width: 60%;
  align-items: center;
  justify-content: center;
}
#banner .identidad-corporativa-big .logo h1 {
  font-size: 64px;
  color: white;
}
#banner .identidad-corporativa-big .logo h2 {
  font-size: 64px;
}
#banner .identidad-corporativa-big .logo #color {
  color: red;
}
#banner .servicios {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner .servicios h1, #banner .servicios h2 {
  color: white;
  font-size: 32px;
  text-align: center;
}
#banner .servicios p {
  color: white;
  font-size: 22px;
}

#cabecera {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
}
#cabecera .identidad-corporativa-small {
  display: flex;
  align-items: flex-start;
}
#cabecera .identidad-corporativa-small .logo {
  width: 180px;
  height: 100px;
  background-image: url("../img/logo_small.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#cabecera .identidad-corporativa-small .nombre-empresa {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cabecera .identidad-corporativa-small .nombre-empresa h1 {
  font-size: 32px;
}
#cabecera .identidad-corporativa-small .nombre-empresa h2 {
  font-size: 32px;
}
#cabecera .identidad-corporativa-small .nombre-empresa #color {
  color: red;
}
#cabecera .menu {
  flex-basis: 10%;
  display: flex;
  align-self: center;
  align-content: center;
}
#cabecera .menu nav ul {
  display: flex;
  gap: 20px;
}
#cabecera .menu li:hover {
  color: yellow;
}

#cita {
  text-align: center;
}
#cita #texto1 {
  color: black;
  font-size: 36px;
}
#cita p {
  color: gray;
  font-size: 36px;
}

#contacto {
  flex-direction: row;
  display: flex;
}
#contacto .formulario-contacto {
  flex-basis: 50%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}
#contacto .datos-contacto {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  background-color: red;
}
#contacto .datos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#descripcion {
  display: flex;
  background-color: black;
  flex-direction: row;
  display: flex;
}
#descripcion .servicios {
  flex-basis: 50%;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  border: 5px solid red;
}
#descripcion .servicios h2 {
  font-size: 44px;
  color: white;
  text-align: center;
}
#descripcion .servicios p {
  color: white;
  font-size: 20px;
  text-align: center;
}
#descripcion .contrastes {
  border: 5px solid green;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
#descripcion .contrastes .logo img {
  width: 100%;
  height: 100%;
  border: 5px solid blue;
}
#descripcion .contrastes .contrastes2 {
  flex-direction: row;
  border: 5px solid pink;
  display: flex;
}
#descripcion .contrastes .contrastes2 .clientes {
  background-color: red;
  display: flex;
  flex-basis: 50%;
  flex: 1;
}
#descripcion .contrastes .contrastes2 .experiencia {
  background-color: yellow;
  flex-basis: 50%;
  display: flex;
  flex: 1;
}/*# sourceMappingURL=estilos.css.map */