#ayuda{
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 200px;
    

    h1{
        color: black;
        font-size: 40px;
    }

    p{
        color: rgb(211, 211, 12);
        font-size: 24px;
    }
}