#banner {
    background-image: linear-gradient(#282828CC 0%, #282828CC 100%), url("../img/banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .identidad-corporativa-big{
        display: flex;
        align-items: flex-start;
        flex-basis: 50%;
      
        .logo{
        width:60%;
        }

        label{
            color:white;
            font-size: 32px;
        }
        
        #color{
            color: red;
        }
    }

    .servicios{


        
        
    h1 {
        color: white;
    }

    h2 {
        color: white;
    }
}

}