#contacto{
    flex-direction: row;
    display: flex;

    .formulario-contacto{
        flex-basis: 50%;
        background-color: yellow;
        display: flex;
        flex-direction: column;
    }

    .datos-contacto{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        background-color: red;
    }

    .datos{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}