#descripcion{
display: flex;
background-color: black;
flex-direction: row;
display: flex;



.servicios{
    flex-basis: 50%;
    justify-content:space-between;
    align-items: stretch;
    flex-direction: column;
    border:5px solid red;
   

h2{
    font-size: 44px;
    color:white;
    text-align: center;
}

p{
color: white;
font-size: 20px;
text-align: center;
}

}

.contrastes{
    border: 5px solid green;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

.logo{

img{
    width:100%;
    height:100%;
    border:5px solid blue;

}
}

.contrastes2{
    flex-direction: row;
    border:5px solid pink;
    display: flex;

.clientes{
    background-color: red;
    display: flex;
    flex-basis: 50%;
    flex: 1;
}

.experiencia{
    background-color: yellow;
    flex-basis: 50%;
    display: flex;
    flex: 1;
}

}
}
}



