@use "sass:color";

$color_fondo: gray;
$color_header: rgb(59, 57, 57);

@font-face{
    font-family: BolwayOneSC;
    src: url(../fonts/bowlby-one-sc-v19-latin-regular.ttf);
}

#contenedor{
    width:80%;
    margin: 0 auto;
    background-color: white;
}


body{
    background-color: rgb(122, 118, 118);
}



ul {
   float:left;
   display: inline-block;
    width:20%;
  }
  
  li a {
    display: block;
    color: darkgray;
    text-decoration: none;
    text-align: center;
    padding: 15px;
  }

  li a:hover{
    background-color: yellow;
  }


#banner{
float:left;
width:80%;
height:250px;
padding-top: 100px;
background-image:url(../img/movies.jpg);
background-repeat: no-repeat;
display: inline-block;
background-size: cover;

#texto-encima{
position: absolute;
text-align: center;
left: 50px;
background-color: gray;
color:white;
font-size:40px;
}
}

#limpia{
    clear: both;
}

header{
background-color: $color_header;
text-align: center;
color:white;
margin: 0 auto;


    h1{
    font-size: 60px;
    font-family: BolwayOneSC;
    }

    h2{
    margin-top: 10px;
    font-size:40px;
    font-family: BolwayOneSC;
    }
}


#centrar{
    margin-left:19%;
    margin-right:19%;
    width:100%;
}



    

article{
    background-color: $color_fondo;
    width: 30%;
    display: inline-block;
    margin: auto;
    margin-top: 250px;
    margin: 20px;

    p{
        background-color: lightgray;
        text-align: center;
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px 5px;
        height: 50px;
        margin-bottom: 5px;
        font-family: BolwayOneSC;
    }

    img{
        margin-top: 10px;
        width:80%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
}


footer{
    background-color: $color_header;
    text-align: center;
    color:white;
    margin: 0 auto;
    padding: 1em;
    font-family: BolwayOneSC;
}

main{
    padding: 15px;
}
